* {
    margin: 0px;
    padding: 0px;
}

h2 {
    font-size: large;
}

header {
    position: sticky;
    top: 0;
    height: 10vh;
    background-color: red;
    text-align: center;
    padding-top: 2em;
}

.outer-box {
    padding: 15px;
}

.form {
    /* position: sticky;
    inset: auto auto; */
    /* position: sticky; */
    /* top: 0; */
    /* height: 100%; */
    background-color: #20bac2;
    /* position: fixed; */
    /* inset: 0 0; */
}

.form__title__inner-box {
    padding: 10px;
    border: 5px double black;
}

.form__title__inner-box__content {
    text-align: center;
    font-weight: 700;
}

.form__body {
    margin-top: 20px;
}

label {
    font-size: small;
    font-weight: 700;
}

label>span {
    font-weight: 500;
}

.form__body__fields-layout {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.form__body__fields-layout>label {
    flex: 0.3;
}

.form__body__fields-layout>div {
    display: flex;
    flex-direction: column;
}

.form__body__fields-layout>input,
.form__body__fields-layout>select,
.form__body__fields-layout>div {
    display: flex;
    flex: 0.7;
}

input[type=radio] {
    margin-top: auto;
    margin-bottom: 0;
}

.form__body__label__radio-first {
    margin-top: -10px;
}

.form__body__fields-layout>div>div>input {
    margin-top: 10px;
}

input[type=text],
input[type=email],
input[type=number],
select,
input[type=date] {
    width: 250px;
}

input::placeholder {
    font-size: smaller;
}

.form__body__submit {
    margin-top: 25px;
}

button[type=submit] {
    background-color: transparent;
    border: 0;
    text-decoration: underline;
    color: rgb(24, 40, 61);
}

button[type=reset] {
    margin-left: 10px;
    padding: 2px 8px;
}

button {
    cursor: pointer;
}

.form__action {
    display: flex;
    flex-direction: column;
    background-color: yellow;
    margin-top: 20px;
    padding: 40px 80px;
}

.form__action>div>a {
    color: red;
}

.form__action>div {
    margin-top: 10px;
}


/*css for table*/

.table-outer {
    min-height: 100vh;
    width: 100vw;
}

td {
    text-align: center;
}

table {
    border-color: cyan;
    margin: auto auto;
    margin-top: 40px;
}

tr {
    background-color: rebeccapurple;
    color: white;
}

.table__heading {
    background-color: yellowgreen;
    color: black;
}

td,
th {
    padding: 4px 8px;
}


/* css for demo */

.demo-outer>h1 {
    color: red;
}

.demo-outer>div>h2 {
    color: blueviolet;
    margin-top: 15px;
    font-size: 1.3rem;
    text-decoration: underline;
}

.demo__label__position-absolute {
    position: absolute;
    z-index: 5;
    top: 110px;
    left: 100px;
    background-color: black;
    height: 10vh;
    width: 10vw;
}

.demo__label__position-absolute__absolute-box {
    text-align: center;
    margin-top: 8px;
    color: white;
    font-size: 0.85rem;
    font-weight: 400;
}

.demo__label__position-relative {
    position: relative;
    background-color: yellow;
    height: 30vh;
    width: 600px;
}

.demo__label__position-relative__relative-box {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: red;
    height: 10vh;
    width: 10vw;
}

.demo__label__position-fixed {
    position: relative;
    background-color: yellow;
    width: 600px;
}

.demo__label__position-fixed__fixed-box {
    position: fixed;
    top: 0px;
    right: 0;
    background-color: red;
    height: 7vh;
    width: 30vw;
    text-align: center;
}

.demo__label__position-static__static-box {
    position: static;
    background-color: cyan;
    border: 3px solid red;
    width: 600px;
}

.demo__label-title {
    margin-top: 25px;
}

.demo__label-float-right {
    height: 30vh;
    width: 600px;
    background-color: purple;
}

.demo__label-float-right>img {
    float: right;
    height: 50%;
    width: 20%;
}

.demo__label-float-left {
    height: 30vh;
    width: 600px;
    background-color: green;
}

.demo__label-float-left>img {
    float: left;
    height: 50%;
    width: 20%;
}

.demo__label-display__inline {
    padding: 8px;
    width: 600px;
    font-weight: 600;
    background-color: yellowgreen;
}

.demo__label-display__inline>p {
    display: inline;
    color: red;
}

.demo__label-display__block {
    padding: 8px;
    width: 600px;
    font-weight: 600;
    background-color: yellowgreen;
}

.demo__label-display__block>span {
    display: block;
    color: red;
}

.demo__label-display__flex {
    display: flex;
    justify-content: space-between;
    height: 30vh;
    width: 600px;
    background-color: black;
    padding-top: 20px;
}

.demo__label-display__flex-row {
    /* margin-left: 40px; */
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 30%;
    background-color: white;
}

.demo__label-display__flex-row>div:first-child {
    height: 100%;
    width: 50%;
    background-color: red;
}

.demo__label-display__flex-column {
    display: flex;
    flex-direction: column;
    /* margin-left: 100px; */
    height: 50%;
    width: 30%;
    background-color: white;
}

.demo__label-display__flex-column>div:first-child {
    height: 50%;
    width: 100%;
    background-color: red;
}

.demo__label-display__grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 5px;
    height: 30vh;
    width: 600px;
    background-color: blueviolet;
}

.demo__label-display__grid>div {
    /* height: 55%;
    width: 25%; */
    background-color: red;
}

.demo__label__visibility-visible {
    visibility: visible;
    height: 20vh;
    width: 600px;
    background-color: purple;
}

.demo__label__visibility-hidden {
    visibility: hidden;
    height: 20vh;
    width: 600px;
    background-color: purple;
}