* {
    margin: 0px;
    padding: 0px;
}

.css-units {
    min-height: 100vh;
    background-color: #dfdfdf;
    text-align: center;
}

.css-units__view-vh {
    height: 100vh;
    background-color: cyan;
    font-size: large;
    color: red;
}

.css-units__view-vw {
    min-height: 50px;
    width: calc(100vw - 17px);
    background-color: red;
    font-size: large;
    color: cyan;
}

.css-units__view-vw>strong {
    color: black;
}

.css-units__pixels {
    padding: 20px;
}

.css-units__pixels>div {
    background-color: purple;
    color: white;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    padding: 8px;
    margin-top: 8px;
}

.css-units__pixels-rem {
    font-size: 4rem;
}

.css-units__pixels-em-parent {
    font-size: 4em;
}

.css-units__pixels-px {
    font-size: 8px;
}

.css-others {
    position: fixed;
    font-size: 1.1rem;
    height: 150px;
    top: 80px;
    bottom: 0;
    padding: 20px;
    font-weight: 600;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.css-others>a {
    margin-top: 8px;
    text-decoration: none;
    padding: 8px;
    font-size: 1.2rem;
    color: yellow;
    background-color: rgb(255, 52, 52);
    border-radius: 25px;
}


/* CSS Chaining Concept */

.css-chaining {
    min-height: 100vh;
    background-color: #dfdfdf;
    text-align: center;
    padding: 25px;
}

.css-chaining>div {
    margin-top: 25px;
}

.css-chaining__first {
    background-color: red;
    height: 200px;
    border-radius: 25px;
    padding: 25px;
    font-size: 1.5rem;
    font-weight: 600;
    color: yellow;
    border: 8px solid rebeccapurple;
    border-style: dotted;
}

.css_chaining_second {
    border-style: double;
}

.css_chaining_third {
    color: red;
    background-color: yellow;
}

.css_chaining_third>p {
    margin-top: 20px;
    font-size: medium;
    color: purple;
}


/* CSS Combinators */

.css-combinators {
    margin: 10px auto;
    width: max-content;
}

.css-combinators__descendant {
    font-size: 1.2rem;
    padding: 25px;
    background-color: yellowgreen;
    border-radius: 25px;
}

.css-combinators__descendant>div p {
    font-size: 1rem;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    padding: 10px;
    width: max-content;
    background-color: aqua;
    color: red;
}

.css-combinators__descendant>p:first-child {
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: 700;
    color: red;
}

.css-combinators__child {
    margin-top: 10px;
    font-size: 1.2rem;
    padding: 25px;
    background-color: yellowgreen;
    border-radius: 25px;
}

.css-combinators__child>p {
    font-size: 1rem;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    padding: 10px;
    width: max-content;
    background-color: aqua;
    color: red;
}

.css-combinators__general-sibling {
    margin-top: 10px;
    font-size: 1.2rem;
    padding: 25px;
    background-color: yellowgreen;
    border-radius: 25px;
}

.css-combinators__general-sibling-first~p {
    font-size: 1rem;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    padding: 10px;
    width: max-content;
    background-color: purple;
    color: red;
}


/* CSS Transition and Transform */

.css-transition {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.css-transition__card {
    min-height: 450px;
    width: 310px;
    background-color: rgb(223, 56, 56);
    border-radius: 25px;
    border: 2px solid black;
    cursor: pointer;
}

.css-transition__card--upper>img:hover {
    transition: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.41s;
    transform: scale(1.1);
}

.css-transition__card--lower img:hover {
    transition: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.41s;
    transform: rotate(360deg);
}

.css-transition__card--lower:hover {
    background-color: rebeccapurple;
}

.css-transition__card--upper>img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.css-transition__card--lower img {
    border-radius: 30px;
    border: 1px solid black;
}

.css-transition__card--lower {
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.css-transition__card--lower__content {
    margin-left: 5px;
    font-size: 0.85rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
}