* {
    margin: 0px;
    padding: 0px;
}

.css-units {
    min-height: 100vh;
    background-color: #dfdfdf;
    text-align: center;
}

.css-units__view-vh {
    height: 100vh;
    background-color: cyan;
    font-size: large;
    color: red;
}

.css-units__view-vw {
    min-height: 50px;
    width: calc(100vw - 17px);
    background-color: red;
    font-size: large;
    color: cyan;
}

.css-units__view-vw>strong {
    color: black;
}

.css-units__pixels {
    padding: 20px;
}

.css-units__pixels>div {
    background-color: purple;
    color: white;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    padding: 8px;
    margin-top: 8px;
}

.css-units__pixels-rem {
    font-size: 4rem;
}

.css-units__pixels-em-parent {
    font-size: 4em;
}

.css-units__pixels-px {
    font-size: 8px;
}

.css-others {
    position: fixed;
    font-size: 1.1rem;
    height: 150px;
    top: 80px;
    bottom: 0;
    padding: 20px;
    font-weight: 600;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.css-others>a {
    margin-top: 8px;
    text-decoration: none;
    padding: 8px;
    font-size: 1.2rem;
    color: yellow;
    background-color: rgb(255, 52, 52);
    border-radius: 25px;
}


/* CSS Chaining Concept */

.css-chaining {
    min-height: 100vh;
    background-color: #dfdfdf;
    text-align: center;
    padding: 25px;
}

.css-chaining>div {
    margin-top: 25px;
}

.css-chaining__first {
    background-color: red;
    height: 200px;
    border-radius: 25px;
    padding: 25px;
    font-size: 1.5rem;
    font-weight: 600;
    color: yellow;
    border: 8px solid rebeccapurple;
    border-style: dotted;
}

.css_chaining_second {
    border-style: double;
}

.css_chaining_third {
    color: red;
    background-color: yellow;
}

.css_chaining_third>p {
    margin-top: 20px;
    font-size: medium;
    color: purple;
}